@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Sevillana&display=swap');

:root{
--heading-font: "Rock Salt",Arial,helvetica;
--paragraph-font: "Sevillana",monospace,Times;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: aliceblue;
    font-family: var(--paragraph-font);
    font-size: 2.5em;
    text-decoration: none;
    padding: 35px;
}
#hero-msg {
    text-align: center;
}
h1,h2,h4{
    text-align: center;
    font-family: var(--heading-font);
} 
h2{
    margin:0;
}
#hero-msg{
    text-align: center;
} 
.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#hero-img{
    width: 100%;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

.logo{
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo_link  {
    padding-top: 5px;
} 

#background {
    height: 425px;
    background-color: #4f93e7;
}

body {
    background-color: #fcfbfb; 
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:#396E94;
}
nav a:hover {
    background-color: #a3ca18;
    color: black;
}

.book{
    background-color: #d5e5f8;
    font-family: var(--paragraph-font);
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    color: black;
    border-radius: 5px;
}

.join{
    
    font-family: var(--paragraph-font);
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #a3ca18;
    color: black;
    
}

.book:hover{
    background-color: #d9c2a3;
}

.join:hover{
    background-color: #e3ebf1;
}

.msg{
    background-color: #4f93e7;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
}

footer{
    background-color: #4f93e7;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
    margin-bottom: 20px;
}


footer p a:hover {
    text-decoration: underline;
}   

footer p {
    font-size: 1.2em;
    font-family: var(--paragraph-font);
    text-decoration: none;
}   

footer p a {
    font-size: 1.2em;
    font-family: var(--paragraph-font);
    text-decoration: none;

} 

footer .social img{
    padding-top: 15px;
}

.home-title{
    color: black;
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}

.join:hover{
    color: black;
}

.msg h2{
    color: black;
    font-family: var(--heading-font);
}

.msg p{
    color: black;
    font-family: var(--paragraph-font);
    font-size: 0.8em;
    padding-bottom: 15px;
}

.rivers-card{
    margin: 200px 0;
}

.camping-card{
    margin: 200px 0;
}

.rapids-card{
    margin: 200px 0;
}

.card-img{
    border: 10px solid #396E94;
}

.mountains{
    margin-top: 100px;
    align-content: center;
}